body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  margin: 20px auto;
  border: 2px solid #333;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  /* box-sizing: border-box; */
  width: 480px;
}

.square {
  width: 60px;
  height: 60px;
}

.movingPiece {
  color: blue;
}

.square.endangered {
  background-color: red !important;
}

.square.fromSquare.move {
  background-color: lightblue;
}

.square.toSquare.move {
  background-color: skyblue;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.piece {
  color: black;
  user-select: none;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 60px;
  /* cursor: pointer; */
}

.square.highlight {
  background-color: yellow !important;
  cursor: pointer;
}

.board {
  user-select: none;
}

.piece.current-turn {
  cursor: pointer;
}

.piece {
  -webkit-user-drag: none;
  /* Disables dragging in WebKit browsers */
  -moz-user-drag: none;
  /* Disables dragging in Firefox */
  /* user-drag: none; */
  /* Disables dragging in other browsers */
}

#turn-indicator {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.piece.selected {
  background-color: orange;
  /* border-radius: 50%; */
  /* Optional: Adds a circular highlight effect */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
  /* Optional: Adds a glow effect */
}

.flipped-text {
  transform: rotate(180deg);
}